body {
	background-color: slategray;
	font-family: 'Roboto', sans-serif;
}


main {
	display: block;
	position: relative;
	width: 800px;
	height: 1000px;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	background-color: beige;
	border: 1px solid #000;
	box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.4);
}

.triangle_top_left {
	width: 0;
	height: 0;
	border-top: 100px solid darkslategray;
	border-right: 100px solid transparent;
/*	float: left;*/
	position: absolute;
	top: 0px;
	left: 0px;
}

.triangle_top_right {
	width: 0;
	height: 0;
	border-top: 100px solid darkslategray;
	border-left: 100px solid transparent;
	float: right;
	position: absolute;
	top: 0px;
	right: 0px;
}

.triangle_bottom_left {
	width: 0;
	height: 0;
	border-bottom: 100px solid darkslategray;
	border-right: 100px solid transparent;
	float: left;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.triangle_bottom_right {
	width: 0;
	height: 0;
	border-bottom: 100px solid darkslategray;
	border-left: 100px solid transparent;
	float: right;
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.rhex {
  position: relative;
  margin: 1em auto;
  width: 6em; height: 9.8em;
  border-radius: .8em/ .5em;
  opacity: .5;
  background: green;
  transition: opacity .5s;
  cursor: pointer;
	transform: rotate(90deg);
}

.rhex:before, .rhex:after {
  position: absolute;
  width: inherit; 
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.rhex:before {
  transform: rotate(60deg);
}

.rhex:after {
  transform: rotate(-60deg);
}

.rhex:hover {
  opacity: 1;
}

.name {
  	margin: -4em auto;
  	transition: opacity .5s;
 	border-radius: 1em/ .5em;
	text-align: center;
	color: white;
	font-family: 'Yellowtail', cursive;
	font-size: 26pt;
	text-shadow: 2px 2px #000;
	transform: rotate(-10deg);
}

.about {
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin: 14em auto;
	font-size: 11pt;
}


.about ul li {
	display: inline-block;
	padding: 0px 10px;

}


.about ul li::after {
	content: '*';
	padding-left: 20px;
}


