html, body {
	height:100%}


body {
	background-color: slategray;
	font-family: 'Roboto', sans-serif;
}

h2 {
	border-bottom: 1px solid darkslategray;
	color: darkslategray;
}

.clearfix {
	clear:both;
}

.name {
  	margin: -3.6em auto;
	text-align: center;
	color: white;
	font-family: 'Yellowtail', cursive;
	font-size: 26pt;
	line-height: 95%;
	text-shadow: 2px 2px #000;
	transform: rotate(-10deg);
}

main {
	display: block;
	position: relative;
	width: 80%;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:5em;
	background-color: beige;
	border: 1px solid #000;
	box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.4);
	min-height: 20em;
}

.triangle_top_left {
	width: 0;
	height: 0;
	border-top: 100px solid darkslategray;
	border-right: 100px solid transparent;
	float: left;
	position: absolute;
	top: 1em;
	left: 1em;
}

.triangle_top_right {
	width: 0;
	height: 0;
	border-top: 100px solid darkslategray;
	border-left: 100px solid transparent;
	float: right;
	position: absolute;
	top: 1em;
	right: 1em;
}

.triangle_bottom_left {
	width: 0;
	height: 0;
	border-bottom: 100px solid darkslategray;
	border-right: 100px solid transparent;
	float: left;
	position: absolute;
	bottom: 1em;
	left: 1em;
}

.triangle_bottom_right {
	width: 0;
	height: 0;
	border-bottom: 100px solid darkslategray;
	border-left: 100px solid transparent;
	float: right;
	position: absolute;
	bottom: 1em;
	right: 1em;
}

.rhex {
  position: relative;
  margin: 1em auto;
  width: 6em; height: 9.8em;
  border-radius: .8em/ .5em;
  background: darkslategray;
  transition: opacity .75s;
  cursor: pointer;
	transform: rotate(90deg);
}

.rhex:before, .rhex:after {
  position: absolute;
  width: inherit; 
  height: inherit;
  border-radius: inherit;
  background: inherit;
  content: '';
}
.rhex:before {
  transform: rotate(60deg);
}

.rhex:after {
  transform: rotate(-60deg);
}

.rhex:hover {
  opacity: 1;
  background: green;
    transform: rotate(-60deg);
}


.about {
	width: 90%;
	text-align: center;
	margin-top: 14em;
	margin-left: auto;
	margin-right: auto;
	font-size: 11pt;
}

ul {
	padding: 0px;
}

.about ul li {
	display: inline-block;
	padding: 0px 10px;
}


.about ul li::after {
	content: '*';
	padding-left: 20px;
}

.about ul li:last-child::after { 
	content:''; 
}


.experience_education {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 11pt;
}

.experience {
	float: left;
	width: 48%;
	min-height: 20em;
	border-bottom:  1px solid darkslategray;
}

.spacer {
	float: left;
	border-left: 1px solid darkslategray;
	min-height: 20em;
	margin-left: 10px;
	margin-right: 10px;
}

.education {
	float: left;
	width: 48%;
	min-height: 20em;
	border-bottom:  1px solid darkslategray;
}

.skills_container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	font-size: 11pt;	
}

.skills {
	width: 52%;
	min-height: 20em;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.skills p {
	font-size: 12pt;
	padding: 10px 0px 5px 0px;
	line-height: 0%
}

.hr {
  width: 80%; 
  margin: 1em auto;
  border-bottom: 1px solid #000;
}	

.title {
	float:left;
	width: 52%;
}

.frontend {
	float: left;
	width: 33%;
}


.backend {
	float: left;
	width: 33%;
}

.randomSkills {
	float: left;
	width: 33%;
}





